<nav>
    <div class="logo"><%= image_tag 'chapterlogonav.png' %></div>
      <span>
        <a href="/Search"><i class="fa fa-search"></i> Search</a>
        <a href="/Books">Books</a>
        <div class="dropdown">
        <button class="dropbtn">Account <i class="fa fa-angle-double-down"></i></button>
          <div class="dropContent">
            <a href="/profile">Edit Profile</a>
            <a href="/sign_out">Sign Out</a>
          </div>
        </div>
      </span>
  </div>
</nav>

<section id="mainContent">
    <div class="progressBar">
        Hi Bob
    </div>
    <div class="myBooks">
    Bob's Books
    </div>
</section>