<div class="overlay">
  <div id="clearance" class="sign-in">
     <div class="text-center mb-4">
   <%= image_tag 'chapterlogo-white.png', class: 'logoPic' %>
     </div>

     <%= render partial: '/sessions/form' %>

    </div>
</div>