<div id="main">

    <div class="logoPic">
        <%= image_tag 'chapterlogo.png' %>
    </div>

    <div class="loginButtons">
        <a href="/login" class="button">Login</a>
        <a href="/signup" class="button2">Signup</a>
    </div>
</div>
