<section id="mainContent">

   <div class="bookList">
        <p><strong>Available Books</p></strong>

        <% @books.each do |book| %>
        <%= image_tag 'bookicon.jpg' %> 
          <strong>Title: </strong> <%= book.title %> </br>
          <strong>Author: </strong> <%= book.author %></br>
          <strong>Genre: </strong> <%= book.genre %></br>
          <a href="/read">Read</a> </br>
          <i class="fas fa-plus-circle"></i> Add to myBooks
        <hr />
        <% end %>


   </div>

</section>