@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

#main {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#mainContent {
    padding-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Login/Signup pages */
.logoPic {
    margin: auto;
}

.button {
    background-color: #7fb069; 
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.button:hover {
    background-color: black;
}

.button2 {
    background-color: #7a7a7a; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    top: 5px;
}

.button2:hover {
    background-color: black;
}

.loginButtons {
    padding-top: 150px;
}


/* Profile page */
.progressBar {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-style: dotted;
}

.myBooks {
    height: 800px;
    border-style: dotted;
    padding: 10px;
    margin: 10px;
}

.myBooks img {
    float: left;
    width: 60px;
    padding: 5px;
}

.bookImg {
    width: 60px;
    float: left;
}

.bookStatus img {
    width: 100%;
}

.reco {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border-style: dotted;
}

.reco img {
    width: 100%;
}

/* Read page */
.textBox {
    background-color: rgb(255, 243, 228);
    width: 80%;
    height: 800px;
    margin: auto;
    padding: 16px;
}