@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

#mainContent {
    padding-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #7fb069;
}

a:hover {
    text-decoration: none;
    color: #d65108;
}

/* Login/Signup pages */
.logoPic {
    margin: auto;
    width: 60%;
    /* padding: 10px 5px; */
}

.overlay {
    background-image: url('chapterbg.jpg');
    position: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-position: center;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.overlay a {
    font-size: 20px;
}

.button {
    background-color: #7fb069; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.small_button {
    background-color: #7fb069; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.remove_button {
    background-color: firebrick; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}

.button:hover, .button2:hover, .small_button:hover, .remove_button:hover {
    background-color: black;
}

.button2 {
    background-color: #7a7a7a; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    top: 5px;
}

.loginButtons {
    padding-top: 150px;
}


/* Profile page */
.progressBar {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dadada;
}

.myBooks {
    height: auto;
    padding: 10px;
    margin: 10px;
}

.myBooks img {
    float: left;
    width: 60px;
    padding: 5px;
}

.bookImg {
    width: 60px;
    float: left;
    margin-right: 5px;
}

.bookStatus img {
    width: 100%;
}

.reco {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dadada;
}

.reco img {
    width: 100%;
}

/* Read page */
#textBox {
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    padding: 16px;
    color: inherit;
    background-color: inherit;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
}

.readSettings {
    position: relative;
    float: right;
    width: 50px;
    padding: 5px 15px 0px 0px;
}

.bookmark {
    position: relative;
    float: left;
    width: 50px;
    padding: 10px 0px 0px 15px;
}

.stgIcons {
    width: 100%;
}

.stgIcons:hover {
    text-shadow: 2px 2px 4px #777777;
}

.pagination {
    display: inline-block;
}

.pagination a {
    padding: 5px;
}

.iconBtn {
    background-color: white;
    border: none;
    cursor: pointer;
}

.iconBtn:hover {
    text-shadow: 2px 2px 4px #777777;
}

.prevChap {
    position: relative;
    float: left;
    padding: 10px;
}

.nextChap {
    position: relative;
    float: right;
    padding: 10px;
}

.previousChap {
    position: relative;
    float: left;
    padding: 10px;
}

/* Book list page  */
.bookList {
    height: auto;
    margin: auto;
}
.mainBookList {
    width: 70%;
    height: auto;
    margin: auto;
}

.bookList img, .mainBookList img {
    width: 130px;
    float: left;
}

.hidden{
    visibility: hidden;
}