@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

#mainContent {
    padding-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #7fb069;
}

a:hover {
    text-decoration: none;
    color: #d65108;
}

/* Login/Signup pages */
.logoPic {
    margin: auto;
    width: 60%;
    padding: 40px 5px;
}

.overlay {
    background-image: url('chapterbg.jpg');
    position: fixed;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-position: center;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.overlay a {
    font-size: 20px;
}

.button {
    background-color: #7fb069; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.button:hover {
    background-color: black;
}

.button2 {
    background-color: #7a7a7a; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    top: 5px;
}

.button2:hover {
    background-color: black;
}

.loginButtons {
    padding-top: 150px;
}


/* Profile page */
.progressBar {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dadada;
}

.myBooks {
    height: auto;
    padding: 10px;
    margin: 10px;
}

.myBooks img {
    float: left;
    width: 60px;
    padding: 5px;
}

.bookImg {
    width: 60px;
    float: left;
    margin-right: 5px;
}

.bookStatus img {
    width: 100%;
}

.reco {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    border: 1px solid #dadada;
}

.reco img {
    width: 100%;
}

/* Read page */
#textBox {
    position: relative;
    width: 80%;
    height: 800px;
    margin: auto;
    padding: 16px;
    font-size: 1em;
}

.readSettings {
    position: relative;
    float: right;
    width: 50px;
    padding: 5px;
}

.stgIcons {
    width: 100%;
}

/* Book list page  */
.bookList {
    width: 70%;
    height: auto;
    margin: auto;
}

.bookList img {
    width: 130px;
    float: left;
}