@import url('https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round');

#main {
    /* height: auto;
    width: 100%;
    margin: 0;
    background-image: url("chapterbg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no repeat;
    background-position: center; */
    text-align: center;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

#mainContent {
    padding-top: 80px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.logoPic {
    margin: auto;
}

.button {
    background-color: #7fb069; 
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
}

.button:hover {
    background-color: black;
}

.button2 {
    background-color: #7a7a7a; 
    border: none;
    color: white;
    padding: 10px 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 20px;
    top: 5px;
}

.button2:hover {
    background-color: black;
}

.loginButtons {
    padding-top: 150px;
}

/* Navbar styling */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
}


nav a {
    float: right;
    display: inline-block;
    color: #000;
    text-decoration: none;
    padding: 25px;
  }
  
  nav a:hover {
    background: #7fb069;
  }

.search-container {
    float: right;
    font-size: 16px;
    padding: 25px;
    background-color: inherit;
    font-family: inherit;
}

nav input[type=text] {
    font-size: 16px;
}

.search-container button {
    float: right;
    padding: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }

  .search-container button:hover {
    background: #7fb069;
  }

.logo {
    float: left;
    color: #000;
    font-size: 50px;
    padding: 10px;
    line-height: 50px;
  }

.dropdown {
    float: right;
    /* overflow: hidden; */
}

.dropdown:hover {
    background: #7fb069;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #000;
    padding: 25px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropContent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropContent {
    display: block;
}

/* Profile page */
.progressBar {
    /* float: left; */
    /* width: 30%; */
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-style: dotted;
}

.myBooks {
    /* float: right; */
    /* width: 100%; */
    height: 800px;
    border-style: dotted;
    padding: 10px;
    margin: 10px;
}

.myBooks img {
    float: left;
    width: 60px;
    padding: 5px;
}

.bookStatus {
    width: 5px;
    /* height: auto; */
}

.bookStatus img {
    float: left;
    width: 100px;
    padding: 5px;
}

.reco {
    position: relative;
    /* float: bottom; */
    /* width: 30%; */
    height: 200px;
    padding: 10px;
    margin: 10px;
    border-style: dotted;
}

.reco img {
    float: left;
    width: 100px;
    padding: 5px;
}

.leftCol {
    position: relative;
    float: left;
    /* left: 0; */
    width: 35%;
}

.rightCol {
    position: relative;
    float: right;
    margin-right: 10px;
    width: 60%
}