<section id="mainContent">
    <div class="leftCol">
      <div class="progressBar">
       <div class="bookStatus">
         <%= image_tag 'caterpillar.png' %> 
       </div>
        <p><strong>Hi Bob</p></strong>
        </br>Status: Caterpillar
        </br>Progress bar:
      </div>
    
      <div class="reco">
        <p><strong>Recommended Books:</p></strong>
       <%= image_tag 'bookicon.jpg' %> 
         Title: </br>
         Author: </br>
        <a href="/read">Read</a>
      </div>
    </div>

    <div class="rightCol">
      <div class="myBooks">
      <p><strong>Bob's Books</p></strong>
      <%= image_tag 'bookicon.jpg' %> 
        Title: </br>
        Author: </br>
       <a href="/read">Read</a>
      </div>
    </div>

</section>